<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{{{head}}}
    <link rel="stylesheet" href="style.css" />

		<title>My Meals</title>
	</head>
	<body>
		
     

     <header class="">
    <nav>
      <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/searchRecipies">Recipies</a></li>
        <li><a href="http://localhost:3000/searchProducts">Products</a></li>
        <li><a href="http://localhost:3000/ingredients">Intgredients</a></li>
		    <li><a href="http://localhost:3000/login">Login</a></li>
        
        
        </li>
      </ul>
    </nav>
  </header>
		{{{body}}}

	</body>
</html>
