
<div id="main">

    <h1 class="mainHeading" style="margin-top:0%;">Get Meal ideas & Recipies for free</h1>
    <h1 class="mainHeading">Easy Access to healthy diet</h1>

    <form id="myEmail">
        <input type="text" id="mail" name="email" placeholder="Enter email address">
        <input type="submit" value="Create account" id="myButton">
        </form>

</div>

<div id="description">
        <h1 id="myHeading" style=" text-align:center;">Keto for everyone.</h1/>
		<div id="paraPhoto">
        <p id="myPara">
			Keto isn’t just another diet. It’s a lifestyle.<br>
            And Carb Manager isn’t just another Keto diet tracker.<br>
			Stay inspired by our database of thousands of Keto recipes<br>
			Snap Foods feature that uses photo recognition technology<br>
		</p>
		<img src="https://spoonacular.com/productImages/183761-312x231.jpg" id="frontPhoto">
		</div>
	</div>

<div id="description">
        <h1 id="myHeading" style=" text-align:center;">Keto for everyone.</h1/>
		<div id="paraPhoto">
        <p id="myPara">
			Keto isn’t just another diet. It’s a lifestyle.<br>
            And Carb Manager isn’t just another Keto diet tracker.<br>
			Stay inspired by our database of thousands of Keto recipes<br>
			Snap Foods feature that uses photo recognition technology<br>
		</p>
		<img src="https://spoonacular.com/productImages/183761-312x231.jpg" id="frontPhoto">
		</div>
	</div>
<div id="description">
        <h1 id="myHeading" style=" text-align:center;">Keto for everyone.</h1/>
		<div id="paraPhoto">
        <p id="myPara">
			Keto isn’t just another diet. It’s a lifestyle.<br>
            And Carb Manager isn’t just another Keto diet tracker.<br>
			Stay inspired by our database of thousands of Keto recipes<br>
			Snap Foods feature that uses photo recognition technology<br>
		</p>
		<img src="https://spoonacular.com/productImages/183761-312x231.jpg" id="frontPhoto">
		</div>
	</div>
<div id="description">
        <h1 id="myHeading" style=" text-align:center;">Keto for everyone.</h1/>
		<div id="paraPhoto">
        <p id="myPara">
			Keto isn’t just another diet. It’s a lifestyle.<br>
            And Carb Manager isn’t just another Keto diet tracker.<br>
			Stay inspired by our database of thousands of Keto recipes<br>
			Snap Foods feature that uses photo recognition technology<br>
		</p>
		<img src="https://spoonacular.com/productImages/183761-312x231.jpg" id="frontPhoto">
		</div>
	</div>

<div id="end">
    <h1>End For Now</h1>
</div>