<div id="main">

    <h1 class="mainHeading" style="">Search for Recipies</h1>
    <h1 class="mainHeading">Recipie Descriptions and Calorie Intakes </h1>

    <form id="product" method="post">
        <input type="text"  name="productName" placeholder="Search recipie Here">
        <input type="submit" value="Search" id="myButton">
        </form>

</div>